html{
    scroll-behavior: smooth;
}
.order h2{
    text-align: center;
  }
  #variety{
    padding-top: 30px;
  }
  .order{
    background-attachment: fixed;
    background-image: url("../images/image8.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .order-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 20px;
    padding-left: 6%;
  }
  .choise{
    display: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  .deliver{
    display: none;
  }
  .delivery{
    display: none;
    padding-left: 10%;
    padding-right: 10%;
  }
  td,th{
    font-size: 20px;
    color: white;
  }
  .choise h2{
    color:orange;
    text-align: left;
  }
  #your-orders{
    color: white;
    font-size: 30px;
  }
  
  #contact h2{
    text-align: center;
  }
  #contact{
    color: black;
  }
  #contactdetails h2{
    text-align: left;
  }
  .footer{
    padding-top: 5%;
  }
  #addedprice{
    display: none;
  }
  #finallmessage{
    display: none;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 28px;
  }
  #regards{
    text-align: center;
    color: aliceblue;
  }
  #information{
    padding-top: 5%;
    font-size: 22px;
    padding-right: 8%;
    padding-left: 5%;
    color: #ffa500;
  }
.browser-default {
    height: 50px;
    width: 100%;
}
.flex-xs-column {
    flex-direction: column;
}
#about-us .content {
  padding: 20px 30px 40px;
}
.about-pic img{
  width: 94%;
}
.order-overlay{
  background-color: rgba(0, 0, 0,0.5);
  margin-left: 2%;
  margin-right: 2%;
  padding-right: 16px;
  padding-left: 16px;
}
.order h2{
  text-align: center;
  font-size: 20px;
}
 