html{
    scroll-behavior: smooth;
}
.ordernow-overlay{
background-image: url(../images/pizza1.jpg);
background-position: center;
background-size: cover;
background-image: cover;
background-repeat: no-repeat;
background-attachment: fixed;
color: white;
padding-top: 4%;
padding-bottom: 4%;
}
.custom-select-md {
    height: 50px;
    width: 100%;
    
}
.ordernow-overlay{
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 4%;
    padding-left: 6%;
  }
.choose{
    display: none;
    padding-left: 3%;
    padding-right: 3%;
}
.prod-delivery{
    display: none;
    padding-left: 13%;
    padding-right: 13%;
}

td{
    font-size: 24px;
    color: black;
  }
.th{
    font-size: 24px;
    color: black;
}
.choose h2{
    color:black;
    text-align: right;
}
#txt{
    padding-top: 3%;
    font-size: 20px;
    padding-right: 7%;
    padding-left: 4%;
    
  }
#delivery-price{
    display: none;
}
#poptext{
padding-right: 8%;
padding-left: 8%;
font-size: 25px;
padding-top: 30px;
display: none;
}
.management-feedback{
    text-align: left;

}
 